body {
    margin-left: 30%;
    margin-right: 35%;
    border: 1px solid black;
    padding: 5%;
    border-radius: 5px;
}
form {
    text-align: center;
}
input {
    height: 40px;
    text-align: left;
    width: 98%;
}
#login {
    margin-bottom: 10px;
}
#pass {
    margin-bottom: 10px;
}
#submit {
    margin-top: 20px;
    width: 40%;
    text-align: center;
    background-color: #6C8AD5;
}
h2 {
    text-align: center;
}